<!DOCTYPE html>
<html lang="en">
<head>
    <title>Research</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="HostSpace template project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="stylesheet" href="~/Areas/User/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/Areas/User/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="~/Areas/User/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/Areas/User/assets/css/app.css">
    <link rel="shortcut icon" href="~/Areas/User/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet"
          href="~/Areas/User/assets/vendors/simple-datatables/style.css" />

    <link rel="stylesheet"
          type="text/css"
          href="/Areas/User/asset1/styles/bootstrap-4.1.2/bootstrap.min.css" />
    <link href="/Areas/User/asset1/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet"
          type="text/css"
          href="/Areas/User/asset1/plugins/OwlCarousel2-2.2.1/owl.carousel.css" />
    <link rel="stylesheet"
          type="text/css"
          href="/Areas/User/asset1/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" />
    <link rel="stylesheet"
          type="text/css"
          href="/Areas/User/asset1/plugins/OwlCarousel2-2.2.1/animate.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/User/asset1/styles/blog.css" />
    <link rel="stylesheet" type="text/css" href="/Areas/User/asset1/styles/blog_responsive.css" />
</head>
<body>
    <div class="super_container">
        <!-- Header -->

        <header class="header trans_400">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="
                  header_content
                  d-flex
                  flex-row
                  align-items-center
                  justify-content-start
                  trans_400
                ">
                            <div class="logo" margin>
                                <a href="#">Host<span>Space</span></a>
                            </div>
                            <nav class="main_nav ml-auto mr-auto">
                                <ul class="
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-start
                    ">
                                    <li><a href="../porta-master/index.html">Home</a></li>
                                    <li><a href="../porta-master/index.html">About Us</a></li>
                                    <li><a href="../porta-master/index.html">News</a></li>
                                    <li><a href="../porta-master/index.html">Work</a></li>
                                    <li><a href="../porta-master/index.html">Campaign</a></li>
                                    <li><a href="../porta-master/index.html">Contact Us</a></li>
                                    <li><a href="blog.html">Research</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu_overlay trans_400"></div>
        <div class="menu trans_400">
            <div class="menu_close_container">
                <div class="menu_close">
                    <div></div>
                    <div></div>
                </div>
            </div>

            <nav class="menu_nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_background"></div>
            <div class="background_image background_city"
                 style="background-image: url(images/back.jpg)"></div>
            <div class="home_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">Research</div>
                                <div class="breadcrumbs">
                                    <ul class="
                        d-flex
                        flex-row
                        align-items-center
                        justify-content-start
                      ">
                                        <li><a href="index.html">Home</a></li>
                                        <li>Research</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <script src="~/Areas/User/assets/js/feather-icons/feather.min.js"></script>
        <script src="~/Areas/User/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script src="~/Areas/User/assets/js/app.js"></script>

        <script src="~/Areas/User/assets/vendors/simple-datatables/simple-datatables.js"></script>
        <script src="~/Areas/User/assets/js/vendors.js"></script>

        <script src="~/Areas/User/assets/js/main.js"></script>
        <script src="~/Areas/User/asset1/js/jquery-3.2.1.min.js"></script>
        <script src="/Areas/User/asset1/styles/bootstrap-4.1.2/popper.js"></script>
        <script src="/Areas/User/asset1/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
        <script src="/Areas/User/asset1/plugins/greensock/TweenMax.min.js"></script>
        <script src="/Areas/User/asset1/plugins/greensock/TimelineMax.min.js"></script>
        <script src="/Areas/User/asset1/plugins/scrollmagic/ScrollMagic.min.js"></script>
        <script src="/Areas/User/asset1/plugins/greensock/animation.gsap.min.js"></script>
        <script src="/Areas/User/asset1/plugins/greensock/ScrollToPlugin.min.js"></script>
        <script src="/Areas/User/asset1/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="/Areas/User/asset1/plugins/easing/easing.js"></script>
        <script src="/Areas/User/asset1/plugins/progressbar/progressbar.min.js"></script>
        <script src="/Areas/User/asset1/plugins/parallax-js-master/parallax.min.js"></script>
        <script src="/Areas/User/asset1/js/blog.js"></script>
</body>
</html>
