
<!-- ==============================================
BANNER
=============================================== -->

<section class="slider-area" id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel main-slider">
                <!-- Single slide 1-->
                <div class="single-slide slide-bg-1">
                    <div class="col-md-12">
                        <div class="tabel">
                            <div class="tabel-cell">
                                <div class="slider-content">
                                    <h3>Small Action Big Impact</h3>
                                    <h1>
                                        SAVE WILDLIFE, SAVE WORLD.
                                    </h1>
                                    <a href="#work" class="btn btn-transparent">Let's Work Together</a>
                                    <a href="#about" class="btn btn-white">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.single-slide -->
                <!-- Single slide 2 -->
                <div class="single-slide slide-bg-2">
                    <div class="col-md-12">
                        <div class="tabel">
                            <div class="tabel-cell">
                                <div class="slider-content">
                                    <h1>The Earth Was Made For All Beings, </h1>
                                    <h1>Not Just Human Beings.</h1>
                                    <!-- <h1>Digital Design Agency.</h1> -->
                                    <a href="#work" class="btn btn-transparent">Let's Work Together</a>
                                    <a href="#about" class="btn btn-white">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.single-slide -->
            </div>
            <!-- /.main-slider -->
        </div>
    </div>
</section>

<!-- ==============================================
ABOUT US
=============================================== -->

<section id="about">
    <div class="container">
        <h2>About Us</h2>
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <div class="about-img">
                    <img src="~/Areas/User/asset2/img/team.jpg"
                         class="img-fluid"
                         alt="about" />
                </div>
            </div>
            <div class="col-lg-6 about-content wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".6s">
                <p>
                    SWSW works to help local communities conserve the natural resources they depend upon; transform markets and policies toward sustainability; and protect and restore species and their habitats.
                </p>
                <p>
                    Our efforts ensure that the value of nature is reflected in decision-making from a local to a global scale.
                </p>

            </div>
        </div>
    </div>
</section>

<!-- ==============================================
FEATURES
=============================================== -->

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".2s">
                <div class="feature-box">
                    <span class="lnr lnr-rocket"></span>
                    <h4>Research</h4>
                    <p>
                        The more awareness we can raising today the more chance we can raising saving life of the wild animals.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <div class="feature-box">
                    <span class="lnr lnr-laptop-phone"></span>
                    <h4>Report</h4>
                    <p>
                        Help us to report any wildlife trafficking near your location!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".6s">
                <div class="feature-box">
                    <span class="lnr lnr-bubble"></span>
                    <h4>24/7 Support</h4>
                    <p>
                        We work systematically to integrate corporate responsibility in
                        our core.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
new
=============================================== -->

<section id="new">
    <div class="svg-wave">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="100%"
             viewBox="0 0 3600 248">
            <path d="M3601,31.227S2736.31,201.97,1661,72.2C547.345-62.2,0,32.227,0,32.227V343H3602Z"></path>
        </svg>
    </div>
    <div class="container-fluid wow fadeInUp"
         data-wow-duration=".2s"
         data-wow-delay=".4s">
        <h2>News</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4 new-item">
                <div class="item-img">
                    <img src="~/Areas/User/asset2/img/n1.jpg" alt="1" />
                </div>
                <div class="item-info">
                    <h3 class="heading-3">Elephant</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 new-item">
                <div class="item-img">
                    <img src="~/Areas/User/asset2/img/n2.jpg" alt="2" />
                </div>
                <div class="item-info">
                    <h3 class="heading-3">Monkey</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 new-item">
                <div class="item-img">
                    <img src="~/Areas/User/asset2/img/n3.jpg" alt="3" />
                </div>
                <div class="item-info">
                    <h3 class="heading-3">Saola</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 new-item">
                <div class="item-img">
                    <img src="~/Areas/User/asset2/img/n4.jpg" alt="4" />
                </div>
                <a href="https://luatminhkhue.vn/toi-vi-pham-cac-quy-dinh-ve-bao-ve-dong-vat-hoang-da-quy-hiem.aspx">
                    <div class="item-info">
                        <h3 class="heading-3">Law</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 new-item">
                <div class="item-img">
                    <img src="~/Areas/User/asset2/img/n5.png" alt="5" />
                </div>
                <a href="https://iwthanoi.vn/cac-loai-thu-quy-hiem-trong-sach-do/?fbclid=IwAR1RGzEIO6TIgVp2k7lkfwoHrrSqvdJ42m9JOBdcXZl2f56XIhzbrY4JSJ0">
                    <div class="item-info">
                        <h3 class="heading-3">Red list of Threatened Species</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-4 new-item">
                <div class="item-img">
                    <img src="~/Areas/User/asset2/img/n6.jpg" alt="6" />
                </div>
                <a href="https://www.youtube.com/watch?v=DGWONp1zvSA&ab_channel=VTCTINM%E1%BB%9AI">
                    <div class="item-info">
                        <h3 class="heading-3">Heath</h3>
                    </div>
                </a>
            </div>
        </div>
</section>

<!-- ==============================================
CALL TO ACTION
=============================================== -->

<section id="call-to-action">
    <div class="container">
        <h1 class="wow fadeInDown" data-wow-duration=".2s" data-wow-delay=".4s">
            Hire Us If You Want To Change.
        </h1>
        <a href="#work"
           class="btn btn-transparent wow fadeInUp"
           data-wow-duration=".2s"
           data-wow-delay=".6s">Let's Work Together</a>
    </div>
</section>

<!-- ==============================================
work
=============================================== -->

<section id="work">
    <div class="container">
        <h2>Our Works</h2>
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".2s">
                <div class="work">
                    <div class="work-icon">
                        <span class="lnr lnr-smartphone"></span>
                    </div>
                    <div class="work-content">
                        <h5>Wildlife Protection</h5>
                        <p>
                            We try our best every day so that every Vietnamese can hear,  can understand and act to reduce the demand for illegal wildlife products, end the tragic massacre, improve the image and reputation of Vietnamese people in the international community.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <div class="work">
                    <div class="work-icon">
                        <span class="lnr lnr-store"></span>
                    </div>
                    <div class="work-content">
                        <h5>Creative Media</h5>
                        <p>
                            Taking full advantages of social networks as an approach to call on everyone to contrbute for a future wiht bacanced animal diversity.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".6s">
                <div class="work">
                    <div class="work-icon">
                        <span class="lnr lnr-chart-bars"></span>
                    </div>
                    <div class="work-content">
                        <h5>Raise community awareness</h5>
                        <p>
                            A fast-convinience-accurate place to look up every informations about wildlife and animal planets.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>

<!-- ==============================================
compaign
=============================================== -->

<section id="compaign">
    <div class="svg-wave">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="100%"
             viewBox="0 0 3600 248">
            <path d="M3601,31.227S2736.31,201.97,1661,72.2C547.345-62.2,0,32.227,0,32.227V343H3602Z"></path>
        </svg>
    </div>
    <div class="container">
        <h2 class="compaign-title">Our Compaigns</h2>
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".2s">
                <!-- Basic compaign -->
                <div class="compaign-table">
                    <div class="type">
                        <h5>Education For Change</h5>
                    </div>
                    <div class="features" style="text-align: left;">
                        <ul>
                            <li><span class="lnr lnr-diamond"></span>Did you know that Wildlife trade with a potential for zoonotic diseases? .For decades, scientists have been warning of dangerous zoonoses —zoonotic diseases caused by germs that spread between animals and people. From SARS to MERS and Ebola.</li>
                            <li><span class="lnr lnr-diamond"></span>According to a report by the World Biodiversity Council, there are as many as 1.7 million undetected viruses in the animal kingdom, 827,000 of which could infect humans.</li>
                        </ul>
                    </div>
                    <div class="order">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <!-- Standard compaign -->
                <div class="compaign-table">
                    <div class="type">
                        <h5>Open Mindedness</h5>
                    </div>
                    <div class="features" style="text-align: left;">
                        <ul>
                            <li><span class="lnr lnr-diamond"></span>A competition where participants are freely to share their knowledge about wildlife habitat, inspiration young generation to raise their voice against wildlife trafficking. protect ours world, ours future.</li>

                        </ul>
                    </div>
                    <div class="order">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".6s">
                <!-- Premium compaign -->
                <div class="compaign-table">
                    <div class="type">
                        <h5>#Do One Thing Today</h5>
                    </div>
                    <div class="features" style="text-align: left;">
                        <ul>
                            <li>
                                <span class="lnr lnr-diamond"></span>With every hashtag of participant will help community protect the world’s wildlife, the more awareness we can raising today the more chance we can increasing in saving life of the wild animals.
                            </li>
                            <li><span class="lnr lnr-diamond"></span>Wildlife trafficking is a prolems that relates directly to young people who are the future of this world. With the belive that today’s young people will become protectors ( of wildlife), if they have opportunities to learn in the right way.Protect the animals so they can stay with us forever.</li>
                            <li>
                        </ul>
                    </div>
                    <div class="order">
                        <a href="#" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-wave bottom">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="100%"
             viewBox="0 0 3600 248">
            <path d="M3601,31.227S2736.31,201.97,1661,72.2C547.345-62.2,0,32.227,0,32.227V343H3602Z"></path>
        </svg>
    </div>
</section>

<!-- ==============================================
Our Team
=============================================== -->

<section id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <div class="row">
            <div class="col-lg-8 col-sm-offset-2 mx-auto wow fadeInDown"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <div class="owl-carousel owl-testimonials">
                    <div class="item">
                        <img src="~/Areas/User/asset2/img/alice.jpg"
                             class="img-fluid"
                             alt="client-1" />
                        <h6>Alice Walker</h6>
                        <span>Novelist</span>
                        <span class="lnr lnr-smile"></span>
                        <p class="quote">
                            "The animals of the world exist for their own reasons."
                        </p>
                    </div>
                    <div class="item">
                        <img src="~/Areas/User/asset2/img/joy.jpg"
                             class="img-fluid"
                             alt="client-2" />
                        <h6>Joy Adamson</h6>
                        <span>Naturalist and wildlife preservationist</span>
                        <span class="lnr lnr-smile"></span>
                        <p class="quote">
                            "Wildlife is something which man cannot construct. Once it is gone, it is gone forever."
                        </p>
                    </div>
                    <div class="item">
                        <img src="~/Areas/User/asset2/img/theodore.jpg"
                             class="img-fluid"
                             alt="client-3" />
                        <h6>Theodore Roosevelt</h6>
                        <span>26th president of the United States</span>
                        <span class="lnr lnr-smile"></span>
                        <p class="quote">
                            "The wildlife and its habitat cannot speak, so we must and we will."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==============================================
TEAM
=============================================== -->

<section id="team">
    <div class="container">
        <h2>Our Team</h2>
        <div class="row">
            <div class="col-lg-4 col-md-12 wow fadeInRight"
                 data-wow-duration=".2s"
                 data-wow-delay=".2s">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/Areas/User/asset2/img/hieu.jpg"
                             class="img-fluid"
                             alt="team-1" />
                    </div>
                    <div class="team-caption">
                        <h4>Nguyen Hieu</h4>
                        <p>Leader</p>
                        <ul class="social-media">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInRight"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/Areas/User/asset2/img/ngoc.jpg"
                             class="img-fluid"
                             alt="team-2" />
                    </div>
                    <div class="team-caption">
                        <h4>Tran Nguyen Bao Ngoc</h4>
                        <p>Team Member</p>
                        <ul class="social-media">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 wow fadeInRight"
                 data-wow-duration=".2s"
                 data-wow-delay=".6s">
                <div class="team-member">
                    <div class="team-img">
                        <img src="~/Areas/User/asset2/img/ngocha.jpg"
                             class="img-fluid"
                             alt="team-3" />
                    </div>
                    <div class="team-caption">
                        <h4>Ha Thi Ngoc</h4>
                        <p>Team Member</p>
                        <ul class="social-media">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 wow fadeInRight"
                     data-wow-duration=".2s"
                     data-wow-delay=".2s">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Areas/User/asset2/img/trung.jpg"
                                 class="img-fluid"
                                 alt="team-1" />
                        </div>
                        <div class="team-caption">
                            <h4>Tang Khanh Trung</h4>
                            <p>Team Member</p>
                            <ul class="social-media">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInRight"
                     data-wow-duration=".2s"
                     data-wow-delay=".4s">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Areas/User/asset2/img/tran.jpg"
                                 class="img-fluid"
                                 alt="team-2" />
                        </div>
                        <div class="team-caption">
                            <h4>Tran Truong Bao Tran</h4>
                            <p>Team Member</p>
                            <ul class="social-media">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInRight"
                     data-wow-duration=".2s"
                     data-wow-delay=".6s">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="~/Areas/User/asset2/img/linh.jpg"
                                 class="img-fluid"
                                 alt="team-3" />
                        </div>
                        <div class="team-caption">
                            <h4>Đo Khanh Linh</h4>
                            <p>Team Member</p>
                            <ul class="social-media">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</section>

<!-- ==============================================
CONTACT
=============================================== -->

<section id="contact">
    <div class="svg-wave">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="100%"
             viewBox="0 0 3600 248">
            <path d="M3601,31.227S2736.31,201.97,1661,72.2C547.345-62.2,0,32.227,0,32.227V343H3602Z"></path>
        </svg>
    </div>
    <div class="container">
        <h2>Contact Us</h2>
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".4s">
                <h4>Get In Touch</h4>
                <a href="#" class="email-link">asianunicorn2021@gmail.com</a>
                <p>Ho Chi Minh City, <b>VietNam</b></p>
                <ul class="social-media">
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8 wow fadeInLeft"
                 data-wow-duration=".2s"
                 data-wow-delay=".6s">
                <h4>Let's Talk What You Want To</h4>
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="email"
                                   class="form-control"
                                   placeholder="email:" />
                        </div>
                        <div class="col">
                            <input type="text"
                                   class="form-control"
                                   placeholder="subject:" />
                        </div>
                    </div>
                    <!-- Form Group -->
                    <div class="form-group wow fadeInLeft"
                         data-wow-duration=".2s"
                         data-wow-delay=".6s">
                        <textarea id="form-message"
                                  cols="30"
                                  rows="5"
                                  class="form-control"
                                  placeholder="Message:"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Send a Message
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>